extend ../parent-scroll.pug

block content
    
    include ../includes/content/title.pug

    #pageWrapper.hfeed(role='main')
      section#page(data-content-field='main-content')
        article#article-5ab1b4300e2e72081e59396c.hentry.category-social.author-benedict-evans.post-type-text(data-item-id='')
          .content-wrapper
            // SPECIAL CONTENT
            .post
              // POST HEADER
              
              +title( "April 24th, 2018"
                    , "On Natural Language Processing"
                    , ""
                    )

              // POST BODY
              .body.entry-content
                #item-5ab1b4300e2e72081e59396c.sqs-layout.sqs-grid-12.columns-12(data-layout-label='Post Body', data-type='item', data-updated-on='1521595449661')
                  .row.sqs-row
                    .col.sqs-col-12.span-12
                      #block-yui_3_17_2_1_1521598810432_30584.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                      #block-yui_3_17_2_1_1521595418800_17097.sqs-block.embed-block.sqs-block-embed(data-block-json='{"version":"1.0","floatDir":null,"resolvedBy":"twitter","providerUrl":"https://twitter.com","width":550,"authorUrl":"https://twitter.com/BenedictEvans","resolveObject":"Tweet","type":"rich","hSize":null,"resolved":true,"authorName":"Benedict Evans","url":"https://twitter.com/BenedictEvans/status/309735715879653376","height":null,"cache_age":"3153600000","providerName":"Twitter","html":"<blockquote class=\"twitter-tweet\"><p lang=\"en\" dir=\"ltr\">50% of Facebook\'s engineering effort goes into stuffing more noise into the newsfeed, and the other 50% into working out ways to filter it</p>\u2014 Benedict Evans (@BenedictEvans) <a href=\"https://twitter.com/BenedictEvans/status/309735715879653376?ref_src=twsrc%5Etfw\">March 7, 2013</a></blockquote>\n<script async=\"\" src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>"}', data-block-type='22')
                        .sqs-block-content
                          blockquote.twitter-tweet
                            p(lang='en', dir='ltr')
                              | 50% of Facebook's engineering effort goes into stuffing more noise into the newsfeed, and the other 50% into working out ways to filter it
                            | — Benedict Evans (@BenedictEvans) 
                            a(href='https://twitter.com/BenedictEvans/status/309735715879653376?ref_src=twsrc%5Etfw') March 7, 2013
                          script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                      #block-yui_3_17_2_1_1521843249663_3596.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                            a(href='https://www.ben-evans.com/benedictevans/2017/10/27/fashion-maslow-and-facebooks-control-of-social') Facebook surfs user behaviour.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | This is the challenge to getting an algorithm right, but there is also the second problem - that it’s always still a 
                            em sample
                            | . Facebook has done so much development and outreach and ’growth-hacking’ to get more stuff into the feed and to make it frictionless to share that there is now far more content available to me than I can look at. It tries to show me a sample of that, and a sample that’s better than ‘whatever was posted in the last 45 minutes’. It might or might not succeed at being better, but there remains the question - do people want a sample at all, anymore?
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                            em anyone
                            |  will see this post. Of course, Facebook’s engagement teams won’t let that happen - if I feel too much that I’m shouting into the wilderness I’ll leave (this is one of Twitter’s new user problems), and so I’ll be rationed out at least enough exposure to friends and engagement feedback to keep posting. Until you don’t. But if something was really important, why would you put it on Facebook?
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                      #block-yui_3_17_2_1_1521599165457_5860.sqs-block.embed-block.sqs-block-embed(data-block-json='{"version":"1.0","floatDir":null,"resolvedBy":"twitter","providerUrl":"https://twitter.com","width":550,"authorUrl":"https://twitter.com/BenedictEvans","resolveObject":"Tweet","type":"rich","hSize":null,"resolved":true,"authorName":"Benedict Evans","url":"https://twitter.com/BenedictEvans/status/955539670103859200","height":null,"cache_age":"3153600000","providerName":"Twitter","html":"<blockquote class=\"twitter-tweet\"><p lang=\"en\" dir=\"ltr\">All social apps grow until you need a newsfeed<br>All newsfeeds grow until you need an algorithmic feed<br>All algorithmic feeds grow until you get fed up of not seeing stuff/seeing the wrong stuff &amp; leave for new apps with less overload<br>All those new apps grow until...</p>\u2014 Benedict Evans (@BenedictEvans) <a href=\"https://twitter.com/BenedictEvans/status/955539670103859200?ref_src=twsrc%5Etfw\">January 22, 2018</a></blockquote>\n<script async=\"\" src=\"https://platform.twitter.com/widgets.js\" charset=\"utf-8\"></script>"}', data-block-type='22')
                        .sqs-block-content
                          blockquote.twitter-tweet
                            p(lang='en', dir='ltr')
                              | All social apps grow until you need a newsfeed
                              br
                              | All newsfeeds grow until you need an algorithmic feed
                              br
                              | All algorithmic feeds grow until you get fed up of not seeing stuff/seeing the wrong stuff & leave for new apps with less overload
                              br
                              | All those new apps grow until...
                            | — Benedict Evans (@BenedictEvans) 
                            a(href='https://twitter.com/BenedictEvans/status/955539670103859200?ref_src=twsrc%5Etfw') January 22, 2018
                          script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                      #block-yui_3_17_2_1_1521843249663_4670.sqs-block.html-block.sqs-block-html(data-block-type='2')
                        .sqs-block-content
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
                          p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit in arcu non sollicitudin. Donec at velit arcu. Aliquam luctus odio ut vestibulum sodales. Quisque aliquam purus ligula, blandit dictum nisi aliquam sed. Suspendisse facilisis interdum enim eget sollicitudin. Mauris orci velit, tempus pellentesque maximus id, sollicitudin vitae est. Integer mollis justo at velit tincidunt dictum. Integer elementum mauris sapien, eu malesuada tortor luctus a. Vivamus at blandit eros. Aenean vitae quam est. In venenatis mollis erat, non egestas nisi feugiat id. Cras in nibh maximus, viverra sem vitae, lobortis eros.
            // /post
          // /content-wrapper
        // COMMENTS 

