extend parent.pug

block content


		main#page.site-page(role='main', data-controller='ProjectController')
			#collection-header-5728d6237c65e4dbdad6bcf5.sqs-layout.sqs-grid-12.columns-12.collection-header.empty(data-layout-label='Collection Header Content', data-type='block-field')
				.row.sqs-row
					.col.sqs-col-12.span-12
			.main-content(data-content-field='main-content')
				.project-container
					.project-slides
						.project-slide.project-slide-has-no-description.project-first-slide(data-slide-id='', data-slide-url='')
							.project-slide-image-container(data-image-dimensions='2000x1333')
								figure.project-slide-image-wrapper.content-fill.not-ready
									img.project-slide-image.loading(data-src='../assets/images/title.jpg', data-image='../assets/images/title.jpg', data-image-dimensions='2000x1333', data-image-focal-point='0.5,0.5', alt='EmptyName-24.jpg', data-fixed-ratio='true', data-load='false')
						.project-slide.project-slide-has-description(data-slide-id='5728e078c2ea515918b14065', data-slide-url='5bj4ixlkpe7zy132oxy9sl0op7p1o3')
							.project-slide-image-container(data-image-dimensions='2605x3648')
								figure.project-slide-image-wrapper.content-fill.not-ready
									img.project-slide-image.loading(data-src='../assets/images/title.jpg', data-image='../assets/images/title.jpg', data-image-dimensions='2605x3648', data-image-focal-point='0.5,0.5', alt='01', data-fixed-ratio='true', data-load='false')
							.project-slide-description-wrapper
								.project-slide-description-body.has-description-title.has-description-text
									h3.project-slide-description-title 01
									.project-slide-description-text
										p
											strong 
											br
											| Loreum Ipsum. The following text is placeholder known as “lorem ipsum,” which is scrambled Latin used by designers to mimic real copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempor hendrerit gravida. Ut mollis, tortor sagittis fringilla consequat, mi sapien sagittis felis, a volutpat ex odio at ligula. Nam in enim ultricies, tempus sapien in, eleifend orci. Aliquam neque tortor, lacinia a ex eget, efficitur lacinia velit. Nam ut dui ac urna congue varius. Ut suscipit viverra lectus, a dictum nisl mattis eu. Donec fermentum, libero sit amet vulputate bibendum, nisi massa imperdiet purus, vel interdum magna dui in lectus.