extend parent.pug

block content

  include includes/title-card.pug


  +title_card('ART', 'I spent most of my childhood drawing, here are some of my recent work')


  .main-content-inner-wrapper(data-content-field='main-content')
    #page-5a37f63753450a1651130390.sqs-layout.sqs-grid-12.columns-12(data-type='page', data-updated-on='1513639793220')
      .row.sqs-row
        .col.sqs-col-12.span-12

          #block-yui_3_17_2_24_1513615004047_79697.sqs-block.image-block.sqs-block-image(data-block-type='5')
          
            <div class="page-banner-wrapper" data-edit-main-image="Background" data-collection-id="" data-controller="PageBanners">
                <div class="page-banner-image-wrapper">
                  <img data-src="../assets/drawings/title.jpg" data-image="../assets/drawings/title.jpg" data-image-dimensions="1024x768" data-image-focal-point="0.5,0.5" alt="title.jpg"  data-load="false" />
                </div>
            </div>
                      
          .row.sqs-row
            .col.sqs-col-6.span-6
              #block-a6192711f1e1ea49e73a.sqs-block.image-block.sqs-block-image(data-aspect-ratio='145.77656675749319', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:145.7765655517578%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-1.jpg', alt='ink-1.jpg')
                        img.thumb-image(alt='ink-1.jpg', data-src='../assets/drawings/ink-1.jpg', data-image='../assets/drawings/ink-1.jpg', data-image-dimensions='2500x3391', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37f803c830258ccbd9388e', data-type='image')
            .col.sqs-col-6.span-6
              #block-5c387690d5c429a18d16.sqs-block.image-block.sqs-block-image(data-aspect-ratio='131.0626702997275', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:131.0626678466797%;', data-description='<p>My favorite medium is the ink wash because the ink resists all attempts at absolute precision and control, and with it all the possibility of "perfection in the drawing" is lost.&nbsp; In this state, we are free to express how we experience the moment.</p>')
                        noscript
                          img(src='../assets/drawings/ink-2.jpg', alt=' My favorite medium is the ink wash because the ink resists all attempts at absolute precision and control, and with it all the possibility of "perfection in the drawing" is lost.&nbsp; In this state, we are free to express how we experience the moment. ')
                        img.thumb-image(alt=' My favorite medium is the ink wash because the ink resists all attempts at absolute precision and control, and with it all the possibility of "perfection in the drawing" is lost.&nbsp; In this state, we are free to express how we experience the moment. ', data-src='../assets/drawings/ink-2.jpg', data-image='../assets/drawings/ink-2.jpg', data-image-dimensions='2500x3444', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37f8308165f5e58aba12c4', data-type='image')
                      .image-caption-wrapper
                        .image-caption
                          p
                            | My favorite medium is the ink wash because the ink resists all attempts at absolute precision and control, and with it all the possibility of "perfection in the drawing" is lost.  In this state, we are free to express how we experience the moment.
          #block-06314ec3944b7717289e.sqs-block.image-block.sqs-block-image(data-aspect-ratio='75', data-block-type='5')
            .sqs-block-content
              .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                .intrinsic(style='max-width:100%;')
                  .image-block-wrapper.has-aspect-ratio(style='padding-bottom:75.0%;', data-description='')
                    noscript
                      img(src='../assets/drawings/ink-5.jpg', alt='ink-5.jpg')
                    img.thumb-image(alt='ink-5.jpg', data-src='../assets/drawings/ink-5.jpg', data-image='../assets/drawings/ink-5.jpg', data-image-dimensions='2500x1824', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37f89a41920241ebbf673d', data-type='image')
          .row.sqs-row
            .col.sqs-col-6.span-6
              #block-5c537eb67e0e7bada1ca.sqs-block.image-block.sqs-block-image(data-aspect-ratio='137.19346049046322', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:137.19346618652344%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-4.jpg', alt='ink-4.jpg')
                        img.thumb-image(alt='ink-4.jpg', data-src='../assets/drawings/ink-4.jpg', data-image='../assets/drawings/ink-4.jpg', data-image-dimensions='2500x3465', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37f91924a6949ae31d59d6', data-type='image')
            .col.sqs-col-6.span-6
              #block-090173ec5dbb2e743056.sqs-block.image-block.sqs-block-image(data-aspect-ratio='137.32970027247958', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:137.32969665527344%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-13.jpeg')
                        img.thumb-image(data-src='../assets/drawings/ink-13.jpeg', data-image='../assets/drawings/ink-13.jpeg', data-image-dimensions='2500x3434', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37f8f3e2c4836296cfb9e5', data-type='image')
          #block-yui_3_17_2_24_1513615004047_79697.sqs-block.image-block.sqs-block-image(data-block-type='5')
            .sqs-block-content
              .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                .intrinsic(style='max-width:100%;')
                  .image-block-wrapper.has-aspect-ratio(style='padding-bottom:63.08000183105469%;', data-description='')
                    noscript
                      img(src='../assets/drawings/ink-9.jpg', alt='ink-9.jpg')
                    img.thumb-image(alt='ink-9.jpg', data-src='../assets/drawings/ink-9.jpg', data-image='../assets/drawings/ink-9.jpg', data-image-dimensions='2500x1577', data-image-focal-point='0.5,1.0', data-load='false', data-image-id='5a37fc15e4966b79a0e79a1e', data-type='image')
          .row.sqs-row
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_147601.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:138.63162231445312%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-6.jpg', alt='ink-6.jpg')
                        img.thumb-image(alt='ink-6.jpg', data-src='../assets/drawings/ink-6.jpg', data-image='../assets/drawings/ink-6.jpg', data-image-dimensions='2397x3323', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37fd8e24a6949ae31e47af', data-type='image')
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_144838.sqs-block.image-block.sqs-block-image(data-aspect-ratio='138.14713896457766', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:138.1471405029297%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-14.jpeg')
                        img.thumb-image(data-src='../assets/drawings/ink-14.jpeg', data-image='../assets/drawings/ink-14.jpeg', data-image-dimensions='2500x3367', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='', data-type='image')
          .row.sqs-row
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_157957.sqs-block.image-block.sqs-block-image(data-aspect-ratio='138.52459016393445', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:138.52459716796875%;', data-description='')
                        noscript
                          img(src='../assets/drawings/picture-110.jpg', alt='picture-110.jpg')
                        img.thumb-image(alt='picture-110.jpg', data-src='../assets/drawings/picture-110.jpg', data-image='../assets/drawings/picture-110.jpg', data-image-dimensions='2500x3305', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37fec0e2c4836296d0eef0', data-type='image')
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_151143.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:138.44000244140625%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-8.jpg')
                        img.thumb-image(data-src='../assets/drawings/ink-8.jpg', data-image='../assets/drawings/ink-8.jpg', data-image-dimensions='2500x3461', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37fdb3e2c4836296d0b647', data-type='image')
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_156276.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:137.08554077148438%;', data-description='')
                        noscript
                          img(src='../assets/drawings/ink-10.jpg', alt='ink-10.jpg')
                        img.thumb-image(alt='ink-10.jpg', data-src='../assets/drawings/ink-10.jpg', data-image='../assets/drawings/ink-10.jpg', data-image-dimensions='2443x3349', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a37fdd70d92972a19b4008f', data-type='image')
          #block-yui_3_17_2_24_1513615004047_245916.sqs-block.image-block.sqs-block-image(data-block-type='5')
            .sqs-block-content
              .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                .intrinsic(style='max-width:100%;')
                  .image-block-wrapper.has-aspect-ratio(style='padding-bottom:74.9311294555664%;', data-description='<p>Commissioned Painting.</p>')
                    noscript
                      img(src='../assets/drawings/ink-11.jpg', alt=' Commissioned Painting. ')
                    img.thumb-image(alt=' Commissioned Painting. ', data-src='../assets/drawings/ink-11.jpg', data-image='../assets/drawings/ink-11.jpg', data-image-dimensions='726x544', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3800a40d92972a19b4900a', data-type='image')
                  .image-caption-wrapper
                    .image-caption
                      p Commissioned Painting.
          #block-yui_3_17_2_24_1513615004047_270250.sqs-block.spacer-block.sqs-block-spacer.sized.vsize-1(data-block-type='21')
            .sqs-block-content  
          #block-yui_3_17_2_37_1513615004047_117931.sqs-block.html-block.sqs-block-html(data-block-type='2')
            .sqs-block-content
              p
                | Faster sketches to be far more revealing of an artist's mind than hour long marathons, where we fall for the desire to "model" the figure in front of us but ironically betrays the lack of clarity within us. These 30 seconds and 60 seconds gestural drawings describe how I experience the figure in those initial moments.
          .row.sqs-row
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_37_1513615004047_109062.sqs-block.image-block.sqs-block-image(data-aspect-ratio='222.64150943396226', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:222.64151000976562%;', data-description='')
                        noscript
                          img(src='../assets/drawings/picture-70.jpg', alt='picture-70.jpg')
                        img.thumb-image(alt='picture-70.jpg', data-src='../assets/drawings/picture-70.jpg', data-image='../assets/drawings/picture-70.jpg', data-image-dimensions='1147x2534', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a380e6a0d92972a19b75def', data-type='image')
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_371381.sqs-block.image-block.sqs-block-image(data-aspect-ratio='203.77358490566039', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:203.77359008789062%;', data-description='<p><span style="font-size:12px; letter-spacing:0.01em">One goal of the class was to move from seeing a specific model but drawing some generic “human figure”,&nbsp; to recording exactly what we see. Each drawing was completed in 60 seconds.&nbsp;</span></p>')
                        noscript
                          img(src='../assets/drawings/gestural-2.jpg', alt='  One goal of the class was to move from seeing a specific model but drawing some generic “human figure”,&nbsp; to recording exactly what we see. Each drawing was completed in 60 seconds.&nbsp;  ')
                        img.thumb-image(alt='  One goal of the class was to move from seeing a specific model but drawing some generic “human figure”,&nbsp; to recording exactly what we see. Each drawing was completed in 60 seconds.&nbsp;  ', data-src='../assets/drawings/gestural-2.jpg', data-image='../assets/drawings/gestural-2.jpg', data-image-dimensions='240x475', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a38023a53450a165115817c', data-type='image')
                      .image-caption-wrapper
                        .image-caption
                          p
                            span(style='font-size:12px; letter-spacing:0.01em')
                              | One goal of the class was to move from seeing a specific model but drawing some generic “human figure”,  to recording exactly what we see. Each drawing was completed in 60 seconds.
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_373760.sqs-block.image-block.sqs-block-image(data-aspect-ratio='225.52301255230125', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:225.52301025390625%;', data-description='')
                        noscript
                          img(src='../assets/drawings/gestural-3.jpeg')
                        img.thumb-image(data-src='../assets/drawings/gestural-3.jpeg', data-image='../assets/drawings/gestural-3.jpeg', data-image-dimensions='1187x2595', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a38024c0d92972a19b4eb2b', data-type='image')
          .row.sqs-row
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_417763.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:80.1199951171875%;', data-description='<p>30 second gestural drawing.&nbsp;</p>')
                        noscript
                          img(src='../assets/drawings/gestural-5.jpg', alt=' 30 second gestural drawing.&nbsp; ')
                        img.thumb-image(alt=' 30 second gestural drawing.&nbsp; ', data-src='../assets/drawings/gestural-5.jpg', data-image='../assets/drawings/gestural-5.jpg', data-image-dimensions='2500x2003', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a380355ec212d30324f88c0', data-type='image')
                      .image-caption-wrapper
                        .image-caption
                          p 30 second gestural drawing. 
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_434254.sqs-block.image-block.sqs-block-image(data-aspect-ratio='80.06182380216383', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:2500.0px;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:80.06182098388672%;', data-description='<p>60 second gestrual drawing of the same lady.&nbsp;</p>')
                        noscript
                          img(src='../assets/drawings/gestural-4.jpg', alt=' 60 second gestrual drawing of the same lady.&nbsp; ')
                        img.thumb-image(alt=' 60 second gestrual drawing of the same lady.&nbsp; ', data-src='../assets/drawings/gestural-4.jpg', data-image='../assets/drawings/gestural-4.jpg', data-image-dimensions='2500x1892', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3804639140b764371a1350', data-type='image')
                      .image-caption-wrapper
                        .image-caption
                          p 60 second gestrual drawing of the same lady. 
          .row.sqs-row
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_384551.sqs-block.image-block.sqs-block-image(data-aspect-ratio='109.8360655737705', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:109.83606719970703%;', data-description='')
                        noscript
                          img(src='../assets/drawings/gestural-1.jpg', alt='gestural-1.jpg')
                        img.thumb-image(alt='gestural-1.jpg', data-src='../assets/drawings/gestural-1.jpg', data-image='../assets/drawings/gestural-1.jpg', data-image-dimensions='454x488', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3802fe41920241ebc18f73', data-type='image')
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_478384.sqs-block.image-block.sqs-block-image(data-aspect-ratio='79.23497267759562', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.lightbox.has-aspect-ratio(style='padding-bottom:79.23497009277344%;', data-description='<p>This model is a dancer from New York. He loved the drawings (left)&nbsp;so much he took a photograph of it for keeping.&nbsp;</p>', data-lightbox-theme='dark')
                        noscript
                          img(src='../assets/drawings/gestural-6.jpg', alt=' This model is a dancer from New York. He loved the drawings (left)&nbsp;so much he took a photograph of it for keeping.&nbsp; ')
                        img.thumb-image(alt=' This model is a dancer from New York. He loved the drawings (left)&nbsp;so much he took a photograph of it for keeping.&nbsp; ', data-src='../assets/drawings/gestural-6.jpg', data-image='../assets/drawings/gestural-6.jpg', data-image-dimensions='2500x1899', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3804fa652dea7bc23566af', data-type='image')
                      .image-caption-wrapper
                        .image-caption
                          p
                            | This model is a dancer from New York. He loved the drawings (left) so much he took a photograph of it for keeping.
          .row.sqs-row
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_561945.sqs-block.image-block.sqs-block-image(data-aspect-ratio='133.05439330543933', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:133.0543975830078%;', data-description='')
                        noscript
                          img(src='../assets/drawings/picture-29.jpg')
                        img.thumb-image(data-src='../assets/drawings/picture-29.jpg', data-image='../assets/drawings/picture-29.jpg', data-image-dimensions='2500x3606', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3806388165f5e58abd0137', data-type='image')
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_642297.sqs-block.image-block.sqs-block-image(data-aspect-ratio='96.66666666666667', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:96.66666412353516%;', data-description='<p>After a series of gestural drawings (left), we spent two weeks measuring every aspect of the scene with nothing but a stick and marks on the floor denoting where we stood. Up until this, I didn’t realize it was possible to stare at a box on the ground for ten days, and see something new everyday. Then we exhaustively measured every aspect of the female model for two more weeks (right). It was strange making eye contact with the model after that, since I thought I knew every crevice of her body, but none of her mind.</p>')
                        noscript
                          img(src='../assets/drawings/picture-58.jpg', alt=' After a series of gestural drawings (left), we spent two weeks measuring every aspect of the scene with nothing but a stick and marks on the floor denoting where we stood. Up until this, I didn’t realize it was possible to stare at a box on the ground for ten days, and see something new everyday. Then we exhaustively measured every aspect of the female model for two more weeks (right). It was strange making eye contact with the model after that, since I thought I knew every crevice of her body, but none of her mind. ')
                        img.thumb-image(alt=' After a series of gestural drawings (left), we spent two weeks measuring every aspect of the scene with nothing but a stick and marks on the floor denoting where we stood. Up until this, I didn’t realize it was possible to stare at a box on the ground for ten days, and see something new everyday. Then we exhaustively measured every aspect of the female model for two more weeks (right). It was strange making eye contact with the model after that, since I thought I knew every crevice of her body, but none of her mind. ', data-src='../assets/drawings/picture-58.jpg', data-image='../assets/drawings/picture-58.jpg', data-image-dimensions='2500x1925', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3807f1e4966b79a0e9f770', data-type='image')
                      .image-caption-wrapper
                        .image-caption
                          p
                            | After a series of gestural drawings (left), we spent two weeks measuring every aspect of the scene with nothing but a stick and marks on the floor denoting where we stood. Up until this, I didn’t realize it was possible to stare at a box on the ground for ten days, and see something new everyday. Then we exhaustively measured every aspect of the female model for two more weeks (right). It was strange making eye contact with the model after that, since I thought I knew every crevice of her body, but none of her mind.
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_24_1513615004047_650265.sqs-block.image-block.sqs-block-image(data-aspect-ratio='133.05439330543933', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:133.0543975830078%;', data-description='')
                        noscript
                          img(src='../assets/drawings/picture-49.jpg')
                        img.thumb-image(data-src='../assets/drawings/picture-49.jpg', data-image='../assets/drawings/picture-49.jpg', data-image-dimensions='2500x2983', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a38081c71c10b467b553c6a', data-type='image')
          #block-yui_3_17_2_35_1513615004047_188199.sqs-block.horizontalrule-block.sqs-block-horizontalrule(data-block-type='47')
            .sqs-block-content
              hr
          #block-yui_3_17_2_35_1513615004047_230995.sqs-block.html-block.sqs-block-html(data-block-type='2')
            .sqs-block-content
              p
                | After four weeks of tedious measuring and recording, we resumed to free hand drawing but with longer 90 minute pieces. It was interesting how much more of the scene we saw after the exercise. More importantly, it was surprising how much of the scene we can record in the first 90 seconds.
          .row.sqs-row
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_483686.sqs-block.image-block.sqs-block-image(data-aspect-ratio='132.4693042291951', data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:132.46929931640625%;', data-description='')
                        noscript
                          img(src='../assets/drawings/long-2.jpg', alt='long-2.jpg')
                        img.thumb-image(alt='long-2.jpg', data-src='../assets/drawings/long-2.jpg', data-image='../assets/drawings/long-2.jpg', data-image-dimensions='2500x3288', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a38051be2c4836296d233cd', data-type='image')
            .col.sqs-col-6.span-6
              #block-yui_3_17_2_24_1513615004047_485295.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:132.4492950439453%;', data-description='')
                        noscript
                          img(src='../assets/drawings/long.jpg', alt='long.jpg')
                        img.thumb-image(alt='long.jpg', data-src='../assets/drawings/long.jpg', data-image='../assets/drawings/long.jpg', data-image-dimensions='641x849', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a38052bec212d30324fe4af', data-type='image')
          #block-yui_3_17_2_44_1513615004047_94183.sqs-block.horizontalrule-block.sqs-block-horizontalrule(data-block-type='47')
            .sqs-block-content
              hr
          #block-yui_3_17_2_45_1513615004047_116435.sqs-block.html-block.sqs-block-html(data-block-type='2')
            .sqs-block-content
              p A story for those who made it this far ...
          .row.sqs-row
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_44_1513615004047_108066.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:67.2436752319336%;', data-description='')
                        noscript
                          img(src='../assets/drawings/dino-1.jpg', alt='')
                        img.thumb-image(alt='UNADJUSTEDNONRAW_thumb_1147.jpg', data-src='../assets/drawings/dino-1.jpg', data-image='../assets/drawings/dino-1.jpg', data-image-dimensions='751x505', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3812b6c830258ccbdeb5ff', data-type='image')
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_44_1513615004047_110137.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:66.4804458618164%;', data-description='')
                        noscript
                          img(src='../assets/drawings/dino-2.jpg')
                        img.thumb-image(alt='', data-src='../assets/drawings/dino-2.jpg', data-image='../assets/drawings/dino-2.jpg', data-image-dimensions='716x476', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3812c8c830258ccbdeba4c', data-type='image')
            .col.sqs-col-4.span-4
              #block-yui_3_17_2_44_1513615004047_112237.sqs-block.image-block.sqs-block-image(data-block-type='5')
                .sqs-block-content
                  .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                    .intrinsic(style='max-width:100%;')
                      .image-block-wrapper.has-aspect-ratio(style='padding-bottom:72.37569427490234%;', data-description='')
                        noscript
                          img(src='../assets/drawings/dino-3.jpg')
                        img.thumb-image(alt='UNADJUSTEDNONRAW_thumb_1143.jpg', data-src='../assets/drawings/dino-3.jpg', data-image='../assets/drawings/dino-3.jpg', data-image-dimensions='724x524', data-image-focal-point='0.5,0.5', data-load='false', data-image-id='5a3812d8652dea7bc2383704', data-type='image')
