mixin about_me(img_src)

    h1 &nbsp; About Me
    #block-yui_3_17_2_2_1512075837160_19774.sqs-block.image-block.sqs-block-image.sqs-col-4.span-4.float.float-left(data-block-type="5")
        .sqs-block-content
            .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                <div style='overflow: hidden'>
                    <img src='../assets/images/about-me-1.jpg' style='position: static; float: left; object-fit: cover; width:100%'>
                </div>

    #block-yui_3_17_2_5_1512316064481_80478.sqs-block.html-block.sqs-block-html(data-block-type="2")
        .sqs-block-content
            p 
                | I am a self taught programmer and formally trained machine learning scientist. I graduated with an MSE in robotics from The University of Pennsylvania, and a BSE in Bioengineering and Mathematics. As an undergrad, I walked on to Penn’s heavyweight rowing team, a sport widely known to attract those who masochistically enjoy pain and suffering.

    #block-yui_3_17_2_2_1512075837160_19774.sqs-block.image-block.sqs-block-image.sqs-col-4.span-4.float.float-right(data-block-type="5")
        .sqs-block-content
            .image-block-outer-wrapper.layout-caption-below.design-layout-inline
                <div style='overflow: hidden'>
                    <img src='../assets/images/me-bot.jpg' style='position: static; float: right; object-fit: cover; width:100%'>
                </div>

    #block-yui_3_17_2_5_1512316064481_80478.sqs-block.html-block.sqs-block-html(data-block-type="2")
        .sqs-block-content

            p
                | During my graduate school years, I researched deep into machine learning applied to computer vision and natural language processing. In particular, supervised by <a target='_blank' href='https://www.grasp.upenn.edu/people/kostas-daniilidis'>Kostas Daniilidis</a>, I adopted convolutional neural nets for visual odometry in surgical videos, with application to augmented reality. I then worked with <a target='_blank' href='http://www.cis.upenn.edu/~ungar/'>Lyle Ungar</a> on <a target='_blank' href='/drl-dialogue'>natural language generation</a> with deep reinforcement learning, and with <a target='_blank' href='http://www.cis.upenn.edu/~ccb/'>Chris Callison-Burch</a> on <a target='_blank' href='/multi-mt'>machine translation</a> and <a target='_blank' href='/sent-analysis'>sentiment analysis</a>. Many of my works have been submitted and accepted for publication. Additionally, I founded the club Bites and Bytes, with 20 hand-picked Ph.D. and master's students spanning computer vision, natural language processing, controls and hardware design. We have no agenda except to have fun!

            p
                | I am very active in Penn’s nascent Blockchain club. Notably, I helped <a target='_blank' href='https://en.wikipedia.org/wiki/Kevin_Werbach'>Kevin Werbach</a> organize a conference on blockchain regulation with security experts and government interests around the world. This was shortly after Jay Clayton declared all tokens "look like securities". I ran the Post-Offering Compliance work group attended by the likes of <a target='_blank' href='https://saftproject.com/static/SAFT-Project-Whitepaper.pdf'>Marco Santori</a> and <a target= '_blank' href= 'https://caitlin-long.com/'>Caitlin Long</a>. In February, professor <a target='_blank' href='http://www.tzuohann.com/'>Tzou Han Law</a> of Boston University invited me to give the inaugural lecture for BU's blockchain club, where I spoke about the role of mechanism design in the Bitcoin Network.

            p
                | Winding back the clock, my first obsession of childhood was drawing.  A few years after I first put crayon to paper, my picture of an orange train was selected as part of Sino-Japan's exhibition program for ... little kids' doodles.  As a high school student, I studied figure drawing and industrial design at The Cleveland Institute of Art.  My recent paintings are found <a target= '_blank' href='/art'>here</a>. 

            p
                | <strong>Currently reading</strong>: <a target='_blank' href='https://www.amazon.com/Diplomacy-Touchstone-Book-Henry-Kissinger/dp/0671510991/ref=sr_1_1?ie=UTF8&qid=1525312272&sr=8-1&keywords=diplomacy+henry+kissinger'>Diplomacy</a> by Henry Kissinger




