script(src='../assets/js/site-bundle.js', type='text/javascript')
script(type="text/javascript" data-sqs-type="imageloader-bootstraper").
	(function() {if(window.ImageLoader) { window.ImageLoader.bootstrap({}, document); }})();
script.
	Squarespace.afterBodyLoad(Y);

