script(type="text/javascript" src="../assets/js/shibori-typekit.js")
script(type="text/javascript").
	try{Typekit.load();}catch(e){}
script(type="text/javascript").
	SQUARESPACE_ROLLUPS = {};

script.
	(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["../assets/js/common-4dba3cefd2ccb038c272-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-common');

script(crossorigin="anonymous" src="../assets/js/common-4dba3cefd2ccb038c272-min.en-US.js")
script.
	(function(rollups, name) { if (!rollups[name]) { rollups[name] = {}; } rollups[name].js = ["../assets/js/polyfills-11072f560228927b5d22-min.en-US.js"]; })(SQUARESPACE_ROLLUPS, 'squarespace-polyfills');

script(crossorigin="anonymous" src="../assets/js/polyfills-11072f560228927b5d22-min.en-US.js")
script(type="text/javascript" src="../assets/js/static-context.js")
script(type="text/javascript").
	SquarespaceFonts.loadViaContext(); Squarespace.load(window);


//if !IE
link(rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/5ad37b0bf8370afb61356bb9/0/55dccafee4b04b8e0d7b6d4d/5ad37b0cf8370afb61356bce/933-05142015/1523809036269/site.css?&filterFeatures=false")
// <![endif]
meta(name="ROBOTS" content="NOINDEX, NOFOLLOW")
// End of Squarespace Headers
script.
	(function(){var touchTest="ontouchstart"in window||navigator.msMaxTouchPoints;if(!touchTest){with(document.documentElement){className=className.replace(new RegExp("touch-styles"),"")}}})()