//- 
//- module: insert blog title
//- Date  : April 18th, 2018
//- Author: Xiao Ling
//- 
mixin title(date, article_title_1, article_title_2, article_title_3)

    .row.sqs-row
        .col.sqs-col-12.span-12
            #block-31bc36482659076d2784.sqs-block.html-block.sqs-block-html(data-block-type="2")
                .sqs-block-content
                    h1.text-align-center
                        strong #{article_title_1}
                        br
                        strong #{article_title_2}
                        br
                        strong #{article_title_3}

    .date-time-xiao(align="center")
      | #{date}

